<div class="lg:pl-40">
    <div class="card max-w-md w-full lg:flex hover:shadow-none relative flex rounded-xl flex-col mx-auto shadow-xl m-7">
        <figure class="md:flex bg-gray-100 rounded-xl p-8 md:p-0">
            <img class="w-32 h-32 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto"
                src="https://i.postimg.cc/7P1H9CB0/gettyimages-86788270-e1599654644219.jpg" alt="profile pic"
                width="384" height="512">
            <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
                <blockquote>
                    <p class="text-lg font-semibold">
                        Be excellent to each other!
                    </p>
                </blockquote>
                <figcaption class="font-medium">
                    <div class="text-cyan-600">
                        Ted
                    </div>
                    <div class="text-gray-500">
                        Wyld Stallyns member
                    </div>
                </figcaption>
            </div>
        </figure>
    </div>
</div>