<div class="px-6 py-8">
    <div class="container mx-auto">
        <div class="w-full lg:w-8/12">
           
            <div class="mt-6">
                <div class="max-w-4xl px-10 py-6 bg-white rounded-lg shadow-md">
                    <div class="flex justify-between items-center">
                        <span class="font-light text-gray-600">{{dataValues.createdAt}}</span>
                        <a href="#" class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500" id="moment-time">#
                            Time Travel?</a>
                    </div>
                    <div class="mt-2"><a href="#" class="text-2xl text-gray-700 font-bold hover:underline" id="moment-title">
                        {{dataValues.title}}
                            </a>
                        <p class="mt-2 text-gray-600" id="moment-body">
                            {{dataValues.body}}
                        </p>
                    </div>
                    <div class="flex justify-between items-center mt-4">
                        <a href="#" class="text-blue-500 hover:underline"> </a>
                        <div>
                            <a href="#" class="flex items-center"><img
                                    src="https://i.postimg.cc/7P1H9CB0/gettyimages-86788270-e1599654644219.jpg"
                                    alt="avatar" class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block">
                                <h1 class="text-gray-700 font-bold hover:underline">Ted</h1>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>