<div class="lg:pl-40">
    <div
        class="card max-w-2xl w-full lg:flex hover:shadow-none relative flex rounded-xl flex-col mx-auto shadow-xl m-7">
        <div class="max-w-3xl px-10 py-6 bg-white relative rounded-lg shadow-md">
            <div class="flex justify-between items-center"><span class="font-light text-gray-600">Jun 1,
                    2025</span>
                <a href="#" class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500">
                    # Time Travel?
                </a>
            </div>
            <div class="mt-2"><a class="text-2xl text-gray-700 font-bold hover:underline">
                    All we are is dust in the wind, dude </a>
                <p class="mt-2 text-gray-600">
                    Remember When She Was A Senior And We Were Freshmen?
                </p>
                <p class="mt-2 text-gray-600">
                    The Best Time To Be Is Now, And All’s We Can Say Is...Let’s Rock!
                </p>
            </div>
            <div class="flex justify-end items-center mt-4">
                <div><a href="#" class="flex items-center"><img
                            src="https://i.postimg.cc/7P1H9CB0/gettyimages-86788270-e1599654644219.jpg" alt="avatar"
                            class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block">
                        <h1 class="text-gray-700 font-bold hover:underline">Ted</h1>
                    </a></div>
            </div>
        </div>
    </div>
</div>