<div class="container mx-auto pt-2">
    <div class="card max-w-md lg:flex hover:shadow-none relative flex rounded-xl flex-col shadow-xl mb-7">
        <figure class="bg-gray-100 rounded-xl p-8">
            <img class="w-32 h-32 rounded-full mx-auto"
                src="https://i.postimg.cc/7P1H9CB0/gettyimages-86788270-e1599654644219.jpg" alt="profile pic"
                width="384" height="512">
            <div class="pt-6 text-center space-y-4">
                <blockquote>
                    <p class="text-lg font-semibold">
                        Be excellent to each other!
                    </p>
                </blockquote>
                <figcaption class="font-medium">
                    <div class="text-cyan-600">
                        Ted
                    </div>
                    <div class="text-gray-500">
                        Wyld Stallyns member
                    </div>
                </figcaption>
            </div>
        </figure>
    </div>
</div>