<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description"
        content="Login into SpaceBook or Sign-Up using the button! 
    					SpaceBook is an Canadian online social media and social networking service based in Toronto, Canada, and a flagship service of the namesake company SpaceBook, Inc">
    <title>SpaceBook</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Reset CSS-->
    <link href="styles/reset.css" rel="stylesheet">
    <!-- Footer CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@iconscout/unicons@3.0.6/css/line.css">
    <!--Tailwind CSS-->
    <link href="styles/tailwind.css" rel="stylesheet">
    <!--CSS-->
    <link href="styles/style.css" rel="stylesheet">
    <!-- Spacebook Icon -->
    <link rel="icon" href="Assets/spacebook_icon.png" type="image/png">
</head>

<body>
    <header class="header">
        <div class="overlay has-fade"></div>
        <!--Nav Bar-->
        <nav class="flex justify-between items-center shadow">
            
    
                <!--Hamburger Menu-->
                <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop order-3">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                 <!--Welcome-->
                <div class="header__logo flex-initial order-1 hide-for-mobile">
                    <h2 id="welcome-message">Welcome <span id="user-name"></span>
                    </h2>
                </div>

                <!--Logo-->
    
                <a href="/home_id" class="header__logo order-2">
                    <img class="logo" src="Assets/spacebookLogo.png" alt="Spacebook" </a>
                <!--Hamburger Menu Links-->
                <div class="header__links hide-for-mobile order-3">
    
                    <a href="/home_id" class="logo hover:bg-gray-100 px-3 py-2 rounded-md">Moments Feed</a>
                    <a href="#" class="logo hover:bg-gray-100 px-3 py-2 rounded-md" id="profile-button">My Profile</a>
                    <a href="/" class="logo hover:bg-gray-100 px-3 py-2 rounded-md">Logout</a>
                </div>
    
    
                <!--Profile Pic/Button  (left it as a button in case we needed it)
                    <div>
                        <button class="mx-2 max-w-xs bg-gray-800 rounded-full flex items-center focus:outline-none">
                            <img class="h-8 w-8 rounded-full"
                                src="{{dataValues.imageurl}}"
                                alt="profile_pic">
                        </button>
                    </div> -->
        </nav>
    
        <div class="header__menu has-fade">
            <a href="/home_id">Moments Feed</a>
    
            <a href="#" id="profile-button">My Profile</a>
    
            <a href="/">Logout</a>
        </div>
    </header>
        
    <div>
    
        {{{ body }}}

    </div>
    <!---------------------------------------------------------------------------------------------- Footer -->
    <div class="mt-5 sm:mt-8 md:mt-10">
        <footer class="bg-gray-800 sm:pt-5">
            <div class="flex justify-center row-start-1 text-gray-800">
                <div class="pt-5">
                    <!--  Title -->
                    <div class="logo text-center text-base text-gray-400 font-medium mb-6">
                        Checkout out our Github page!
                    </div>
                    <!-- Links -->
                    <a href="https://github.com/enochj316/Project2"
                        class="logo text-center my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                        Github
                    </a>
                </div>
            </div>
            <div class="pt-5">
                <hr class="m-auto bg-gray-500 sm:max-w-xs md:max-w-xl lg:max-w-4xl xl:max-w-6xl">
            </div>
            <!-- Copyright Line -->
            <div class="row-start-2 pt-2">
                <div
                    class="flex pb-5 px-3 m-auto pt-5 border-t border-gray-500 text-gray-400 text-sm md:flex-row max-w-6xl">
                    <div class="mt-2">
                        © Copyright 1998-year. All Rights Reserved.
                    </div>
    
                    <!-- Unicons -->
                    <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
                        <a href="#" class="w-6 mx-1">
                            <i class="uil uil-twitter-alt"></i>
                        </a>
                        <a href="#" class="w-6 mx-1">
                            <i class="uil uil-youtube"></i>
                        </a>
                        <a href="#" class="w-6 mx-1">
                            <i class="uil uil-linkedin"></i>
                        </a>
                        <a href="#" class="w-6 mx-1">
                            <i class="uil uil-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/friends.js"></script>

</html>