
<!------------------------------------------------------------------------------------Body Content-->

<div class="flex grid grid-flow-col">

    <!---------------------------------------------------Biography Card-->
    <div
        class="hide-for-mobile col-span-1 ml-5 md:ml-4 lg:ml-10 mt-5 sm:mt-14 md:mt-8 lg:mt-8 md:max-w-lg lg:max-w-xl max-h-md">

        <h1 class="mx-5 pb-1 font-bold text-white text-base md:text-2xl">Friends</h1>

        <div class=" mx-3 mt-5 md:mx-5 md:my-0 lg:my-0 xl:my-0 rounded-lg shadow-md">
            <!--------------------------------------------Card 1-->
            <figure class="lg:flex bg-gray-100 rounded-xl mt-3 p-3 sm:p-8 md:p-0">
                <img class="w-auto h-24 md:w-auto md:h-32 md:rounded-full rounded-full mx-auto"
                    src="https://picsum.photos/200" alt="" width="384"
                    height="512" style="box-shadow: 2px 2px 5px 2px;">
                <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
                    <blockquote>
                        <p class="text-sm sm:text-md text-gray-600 font-semibold">
                            “Tailwind CSS is the only framework that I've seen scale
                            on large teams. It’s easy to customize, adapts to any design,
                            and the build size is tiny.”
                        </p>
                    </blockquote>
                    <figcaption class="flex font-medium justify-between">
                        <div class="text-sm md:text-lg text-gray-600">
                            Sarah Dayan
                        </div>
                        <button
                            class="px-3 ml-4 mr-2 text-sm md:text-lg rounded bg-gray-400 hover:bg-gray-600 text-white">Remove</button>
                    </figcaption>
                </div>
            </figure>
            <!--------------------------------------------Card 1-->
            <figure class="lg:flex bg-gray-100 rounded-xl mt-3 p-3 sm:p-8 md:p-0">
                <img class="w-auto h-24 md:w-auto md:h-32 md:rounded-full rounded-full mx-auto"
                    src="https://picsum.photos/300" alt="" width="384"
                    height="512" style="box-shadow: 2px 2px 5px 2px;">
                <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
                    <blockquote>
                        <p class="text-sm sm:text-md text-gray-600 font-semibold">
                            “Tailwind CSS is the only framework that I've seen scale
                            on large teams. It’s easy to customize, adapts to any design,
                            and the build size is tiny.”
                        </p>
                    </blockquote>
                    <figcaption class="flex font-medium justify-between">
                        <div class="text-sm md:text-lg text-gray-600">
                            Sarah Dayan
                        </div>
                        <button
                            class="px-3 ml-4 mr-2 text-sm md:text-lg rounded bg-gray-400 hover:bg-gray-600 text-white">Remove</button>
                    </figcaption>
                </div>
            </figure>
        </div>
    </div>

    <!---------------------------------------------------------------------------------Adding Friends-->

    <div class="col-span-3 mt-5 ml-5 mr-5 sm:mr-5 md:mr-6 lg:mr-10 xl:justify-around my-0 sm:my-4 md:my-8">
        <!------------------------------------------------------Add New Friends Input-->
        <div class="max-w-6xl">
            <div class="flex items-center justify-between">
                <h1 class="text-base md:text-2xl font-bold text-white">Let's Add New Friends...</h1>
            </div>
            <div class="body__card mt-2 sm:mt-4">
                <div class="lg:max-w-4xl px-3 sm:px-5 pb-4 pt-3 md:px-10 md:py-6 bg-white rounded-lg shadow-md">
    
                    <div class="mt-5 flex justify-between">
                        <textarea id="about" name="about" rows="1"
                            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full text-xs sm:text-sm border-gray-300 rounded-md"
                            placeholder="Title"></textarea>
                        <div class="mx-2">
                            <a href="#"
                                class="px-2 py-1 text-sm md:text-lg bg-gray-600 text-gray-100 rounded hover:bg-gray-500">Submit</a>
                            </a>
                        </div>
                    </div>

                    {{#each result}}
                    {{> friends/friends-list }}
                    {{/each}}
    
                </div>
                <!-- Modal for Adding a Friend -->
                <div class="hidden md:max-w-lg sm:w-full rounded-lg shadow-lg bg-white my-3">
                    <div class="flex justify-between border-b border-gray-100 px-5 py-4">
                        <div>
                            <i class="fas fa-exclamation-circle text-blue-500"></i>
                            <span class="font-bold text-gray-700 text-lg">Friend Added!</span>
                        </div>
                        <div>
                            <button><i
                                    class="fa fa-times-circle text-red-500 hover:text-red-600 transition duration-150"></i></button>
                        </div>
                    </div>
    
                    <div class="text-center px-10 py-5 text-gray-600">
                        You just added a friend!
                    </div>
    
                    <div class="px-5 py-4 flex justify-end">
                        <button
                            class="text-sm py-2 px-3 text-gray-500 hover:text-gray-600 transition duration-150">Close</button>
                    </div>
                </div>
                <!-- Modal for Removing a Friend -->
                <div class="hidden md:max-w-lg sm:w-full rounded-lg shadow-lg bg-white my-3">
                    <div class="flex justify-between border-b border-gray-100 px-5 py-4">
                        <div>
                            <i class="fas fa-exclamation-circle text-blue-500"></i>
                            <span class="font-bold text-gray-700 text-lg">Friend Removed</span>
                        </div>
                        <div>
                            <button><i
                                    class="fa fa-times-circle text-red-500 hover:text-red-600 transition duration-150"></i></button>
                        </div>
                    </div>
    
                    <div class="text-center px-10 py-5 text-gray-600">
                        You just removed a friend
                    </div>
    
                    <div class="px-5 py-4 flex justify-end">
                        <button
                            class="text-sm py-2 px-3 text-gray-500 hover:text-gray-600 transition duration-150">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>