<div class="px-6 py-8">
    <div class="container mx-auto">
        <div class="w-full lg:w-8/12">
            <div class="flex items-center justify-between">
                <!--Moments Feed-->
                <h1 class="text-xl font-bold text-gray-700 md:text-2xl">Let's Explore Moments Around You...</h1>
            </div>
            <div class="mt-6">
                <div class="max-w-4xl px-10 py-6 bg-white rounded-lg shadow-md">
                    <div class="mt-2"><a href="#" class="text-2xl text-gray-700 font-bold hover:underline">Share Your
                            Moments:</a>
                        <div>
                            <div class="mt-1">
                                <textarea id="about" name="about" rows="2"
                                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md"
                                    placeholder=""></textarea>
                            </div>
                            <div class="mt-0">
                                <textarea id="about" name="about" rows="4"
                                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md"
                                    placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-between items-center mt-4">
                        <div>
                            <a href="#"
                                class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500">Share!</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{{> friends/friends-block }}



{{#each body}}
{{> moments/moment-block }}
{{/each}}



{{> moments/post-block }}