<!--------------------------------------------Card 1-->
<figure class="lg:flex bg-gray-100 rounded-xl mt-3 p-3 sm:p-8 md:p-0">
    <img class="w-auto h-24 md:w-auto md:h-32 md:rounded-full rounded-full mx-auto" src="https://picsum.photos/200"
        alt="" width="384" height="512" style="box-shadow: 2px 2px 5px 2px;">
    <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
        <blockquote>
            <p class="text-sm sm:text-md text-gray-600 font-semibold">
                “Tailwind CSS is the only framework that I've seen scale
                on large teams. It’s easy to customize, adapts to any design,
                and the build size is tiny.”
            </p>
        </blockquote>
        <figcaption class="flex font-medium justify-between">
            <div class="text-sm md:text-lg text-gray-600">
                {{dataValues.first_name}} {{dataValues.last_name}} 
            </div>
            <button
                class="px-3 ml-4 mr-2 text-sm md:text-lg rounded bg-gray-400 hover:bg-gray-600 text-white delete-friend" data-id="{{dataValues.id}}">Remove</button>
        </figcaption>
    </div>
</figure>


