.header {
    nav {
        padding: 24px;
    }

    &__logo {
        img {
            max-width: 75%;
            height: auto;
        }
    }

    &__menu{ //mobile menu
        //using child selector for the
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;
            //adding margin bottom to all but last child
            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }
    }

    &__links {
        margin-right: 0%;
        padding-inline-start: 50%;
        a{
            justify-content: space-evenly;
        }
    }

}